body{
  background-color: #171717;
  font-family: 'Kaushan Script', cursive;
  text-align: center;

}
h1{
  color: #5FEAEB;
  font-size: 5rem;
  padding: 5%;
}
h3{
  font-size:2.5rem;
  padding-top: 3rem;
  color: #BDC7C9;
}
.dice{
  padding-top: 5rem;;
  width: 40%;
}
